.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  .verified {
    background-color: #fff0cb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    a{
        text-decoration: none;
    }
  }
  .header {
    display: flex;
    padding: 20px 5%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #f0f0f0;
    .username-wrapper {
      .login-button {
        color: red;
        position: absolute;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.18);
        padding: 7.5px 15px;
        z-index: 32;
        background-color: #fff;
      }
    }
  }

  .card-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 100px 5%;
    width: 90%;

    .dash-card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      background-color: #fff;
      border: 1px solid #f0f0f0;
      border-radius: 8px;
      width: 27.5%;
      .head {
        height: fit-content;
        .one {
          font-size: 70%;
          padding: 0;
          color: #555658;
        }
        .two {
          font-size: 90%;
          padding: 5px 0;
          font-weight: 500;
        }
      }
      .content {
        padding: 15px 0;

        .one {
          font-size: 70%;
          padding: 0;
          color: #555658;
        }
        .two {
          padding: 10px 0;
          //   font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #131415;
        }
      }
      .button-wrapper {
        width: 100%;
        justify-content: flex-end;
        display: flex;
      }
    }
  }
  .bottom-bar {
    padding: 25px 5%;
    display: flex;
    justify-content: flex-end;
    img {
      width: 40px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .create-wrapper {
    position: absolute;
    background-color: rgba(36, 36, 36, 0.312);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .create-card {
      background: #ffffff;
      border-radius: 4px;
      .heading {
        // width: 100%;
        border-bottom: 1px solid #efeff0;
        // padding: 10px;
        padding: 20px 40px;
      }
      .card-item {
        padding: 0 40px;
        p {
          padding: 25px 0 15px 0;
        }
      }
      input,
      textarea {
        border: 1px solid #efeff0;
        border-radius: 4px;
        padding: 10px;
        width: calc(100% - 20px);
      }
      .button-wrapper {
        // width: 100%;
        justify-content: flex-end;
        display: flex;
        padding: 30px;
      }
    }
  }
}
